---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<h1 class="font-bold text-3xl py-5">404</h1>
	<div>
		<p>
            page not found. <a href="/" class="hover:text-zinc-500 transition duration-200 ease-in-out">home</a>
		</p>
	</div>
</Layout>
