---
import Layout from "../layouts/Layout.astro";
---

<Layout>
   <h1 class="font-bold text-2xl py-2">about me (ig)</h1>
   	<p>
		I'm a student that likes old
		computers, gaming, programming languages like Python and music, i
		learned Python on my own at age 11 and also learned how to build
		websites in Astro with the help of TailwindCSS. <p class="font-bold py-2">One thing i'd like you to pay attention when interacting with me online (through social media, e-mail ecc...) is that am a minor so please keep a certain behavior with me otherwise you'll be blocked.</p>
	</p>
</Layout>