---
import Layout from "../layouts/Layout.astro";
import { Code } from "astro:components";
---

<Layout>
	<h1 class="font-bold text-3xl py-5">About</h1>
	<div>
		<p>
			As previously mentioned in the homepage, i'm a passionate about old
			computers, gaming, programming languages like Python and music, i
			learned Python on my own at age 11 and also learned how to build
			websites in Astro with the help of TailwindCSS. I am a minor so don't act weird with me.
		</p>
		<h1 class="font-bold text-2xl pt-3">Skills</h1>
		<div>
			<p class="text-xl py-2">Programming</p>
			<div class="flex gap-2 py-2">
				<span
					class="px-3 py-1 bg-gray-100 text-black rounded-full text-sm"
				>
					Python
				</span>
				<span
					class="px-3 py-1 bg-gray-100 text-black rounded-full text-sm"
				>
					TypeScript
				</span>
				<span
					class="px-3 py-1 bg-gray-100 text-black rounded-full text-sm"
				>
					JavaScript
				</span>
			</div>
			<p class="text-xl py-2">Websites</p>
			<div class="flex gap-2 py-2">
				<span
					class="px-3 py-1 bg-gray-100 text-black rounded-full text-sm"
				>
					Astro
				</span>
				<span
					class="px-3 py-1 bg-gray-100 text-black rounded-full text-sm"
				>
					TailwindCSS
				</span>
			</div>
		</div>
		<h1 class="font-bold text-2xl py-3">Music</h1>
		<p>
			i listen to everything, for example Daft Punk, Flo Milli, Calvin
			Harris, Charli XCX, Snoop Dogg, BLOND:ISH and many more
		</p>
		<h1 class="font-bold text-2xl py-3">88x31</h1>
		<p>to add my 88x31 button in your website, copy this code snippet:</p>
		<div class="py-3 text-sm">
			<Code
				code={'<a href="https://nickflz.com"><img src="https://nickflz.com/88x31.png" width="88" height="31"/></a>'}
				lang="html"
			/>
		</div>
	</div>
</Layout>
