---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<h1 class="font-bold text-3xl py-5">Contacts</h1>
	<div>
		<p class="py-3">you can find me on the following platforms:</p>
		<h1 class="font-bold text-2xl py-3">Messaging Platforms</h1>
		<ul class="list-disc py-3 list-inside">
			<li>
				<a>Discord: @nick909_.</a>
			</li>
			<li>
				<a>Mail: flza [at] nickflz [dot] com</a>
			</li>
			<li>
				<a href="https://t.me/niick909" class="hover:text-zinc-500 transition duration-200 ease-in-out">Telegram</a>
			</li>
		</ul>
		<h1 class="font-bold text-2xl py-3">Other Socials</h1>
		<ul class="list-disc py-3 list-inside">
			<li>
				<a href="https://bsky.app/profile/nickflz.com" class="hover:text-zinc-500 transition duration-200 ease-in-out">Bluesky</a>
			</li>
		</ul>
	</div>
</Layout>
