---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1 class="font-bold text-2xl glow">An exciting new look!</h1>
	<p class="py-2 italic">"An exciting new look" ~Windows XP Setup</p>
	<p>	how exciting... almost nothing changed but this is my website, i programmed this website in my free time as i rebranded, most of the code is taken from the old one, if you want to know more about me check my <a href="/about" class="font-bold hover:text-zinc-500 transition duration-200 ease-in-out">about</a> page.</p>
</Layout>
<style>
	.glow {
        text-shadow: 0px 0px 11px rgba(255,255,255,1);
    }
</style>
