---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<h1 class="font-bold text-3xl py-5">Hello 👋</h1>
	<div>
		<p class="py-2">i'm nick, a developer, student in Italy 🇮🇹</p>
		<p>
			i'm a passionate about old computers, gaming, programming languages
			like Python and music, i learned Python on my own at age 11 and also
			learned how to build websites in Astro with the help of TailwindCSS,
			you get to know more about me in the <a
				href="/about"
				class="font-bold">about</a
			> page.
		</p>
	<!--<div class="py-3">
		add friends if i'll have any
	</div>--->
	</div>
</Layout>
