---
import Layout from "../layouts/Layout.astro";
const pageTitle = "secret";
---
<head>
	<title>FLZA - {pageTitle}</title>
</head>
<Layout>
    <h1 class="font-bold text-2xl py-2">Secret Downloads</h1>
    <p class="font-bold py-2 text-xl">Found this area? Congrats bro!</p>
    <p>this area is dedicated to downloads of wallpapers with my logo on it (the one you see on the navbar)</p>
    <p class="font-bold py-2 text-xl">Wallpapers:</p>
    <p class="text-xl">Dark wallpaper with white logo</p>
    <a class="italic hover:text-zinc-500 transition duration-200 ease-in-out" href="/dark-bg.png">download here <a class="italic font-bold hover:text-zinc-500 transition duration-200 ease-in-out" href="/mobile-dark-bg.png">(mobile version)</a></a>
    <img src="/dark-bg.png">
    <div class="py-2">
        <p class="text-xl">White wallpaper with dark logo</p>
        <a class="italic hover:text-zinc-500 transition duration-200 ease-in-out" href="/light-bg.png">download here <a class="hover:text-zinc-500 transition duration-200 ease-in-out italic font-bold" href="/mobile-light-bg.png">(mobile version)</a></a>
        <img src="/light-bg.png">
    </div>
</Layout>