---
import { Icon } from "astro-icon/components";
---

<footer class="mx-auto py-3">
    <div class="border-t py-3">
        <p>&copy; nickflz 2021-{new Date().getFullYear()}</p>
    </div>
</footer>
