---
import { Icon } from "astro-icon/components";
---

<footer class="mx-auto py-3">
    <div class="border-t py-3">
        <p>&copy; FLZA 2021-{new Date().getFullYear()}</p>
        <p class="italic text-zinc-400 text-sm"><a href="https://github.com/nick9088/nickflz-website" class="font-bold hover:text-zinc-500 transition duration-200 ease-in-out">check the source code.</a></p>
    </div>
</footer>
