<footer class="py-5">
    <p class="py-3">-- footer start --</p>
    <p class="text-md italic">like my code? <a class="font-bold" href="https://github.com/nick9088/nickflz-website">check the source code</a></p>
    <p class="py-3">-- footer end --</p>
</footer>