<nav class="sticky py-5 mt-10">
    <img class="navlogo py-2" src="/logonav.svg">
    <a class="flex italic text-gray-300" href="/secret-downloads">// the italian mf</a>
    <ul class="flex justify-start py-2 gap-4">
        <li>
            <a
                href="/"
                class="relative py-1 hover:text-zinc-500 transition duration-200 ease-in-out"
                >home</a
            >
        </li>
        <li>
            <a
                href="/about"
                class="relative py-1 hover:text-zinc-500 transition duration-200 ease-in-out"
                >about</a
            >
        </li>
        <li>
            <a
                href="/contacts"
                class="relative py-1 hover:text-zinc-500 transition duration-200 ease-in-out"
                >contacts</a
            >
        </li>
    </ul>
</nav>

<style>
    .navlogo {
        width: 100px;
    }
</style>