---
import Avatar from "./Avatar.astro";
---
<nav class="sticky py-5 mt-10">
    <div class="flex items-center">
        <Avatar class="w-20 rounded-full border-3 block" width={50} height={50}></Avatar>
        <div class="ml-4">
            <!-- Add margin to the left for spacing -->
            <h1 class="text-3xl font-bold">FLZA</h1>
            <span class="flex italic text-gray-400">(he/him)</span>
        </div>
    </div>
    <ul class="flex justify-start py-2 gap-4">
        <li>
            <a
                href="/"
                class="relative py-1 hover:text-zinc-500 transition duration-200 ease-in-out"
                >home</a
            >
        </li>
        <li>
            <a
                href="/about"
                class="relative py-1 hover:text-zinc-500 transition duration-200 ease-in-out"
                >about</a
            >
        </li>
        <li>
            <a
                href="/contacts"
                class="relative py-1 hover:text-zinc-500 transition duration-200 ease-in-out"
                >contacts</a
            >
        </li>
    </ul>
</nav>
